<template>
	<label style="alignment: left;">
		<input
			v-for="(thisInput, index) in names"
			v-model="thisInput.value"
			:key="index"
			type="text"
			@input="addInput(thisInput)"
			@keyup.enter="pressEnter($event, thisInput)"
			@focusout="checkForBlank(thisInput, index)"
			class="input"
			placeholder="Type Name"
			onfocus="this.placeholder = ''"
		>
	</label>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'NameInputs',
	computed: {
		...mapState(['names'])
	},
	methods: {
		addInput (input) {
			if (input.addNext) {
				input.addNext = false
				this.names.push({
					value: '',
					addNext: true
				})
			}
		},
		pressEnter (event, input) {
			event.target.nextElementSibling.focus()
			this.addInput(input)
		},
		checkForBlank (input, inputIndex) {
			if (input.value === '' && !input.addNext) {
				const result = this.names.filter((input, index) => {
					return index !== inputIndex
				})
				this.$store.commit('changeNames', result)
			}
		}
	}
}
</script>

<style scoped>

.input{
background-color: #454545;
color: white;
margin: 0.25rem;
padding-left: .25rem;
width: 19.75rem;
}

.input:focus{
outline-color: #19428B;
background-color: #19428B;
color: white;
}

input::placeholder {
text-align: center;
color: white;
}

</style>
